.username-header{
    text-align: left;
    font-weight: bold;
    color: rgb(231, 128, 44);
}
.username-sub-header{
    text-align: left;
    width: 600px;
    border-bottom: 1px solid black;
    border-right-width: 100px ;

}
.personal-info{
    font-family: 'Quicksand', sans-serif;
}
