.main-content{
    margin-top: 15px;
}

.top-nav-account{
    max-width: 1300px;
    text-align: left;
    margin: 0 auto;
}

.bottom-nav-account{
    max-width: 1200px;
    text-align: left;
    margin: auto;
}

.account-header{
    padding-top: 12px;
}

.account-messages{
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(54, 54, 54);
}

.account-options{
    max-width: 18.75%;
    width: 18.75%;
    margin: 24px 0;
    padding-right: 32px;
}

.fake-tabs{
    margin-top: 25px;
}

.fake-tabs-items{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fake-tabs-first-item{
    margin-right: 36px;
    display: inline-block;
}

.fake-tabs-second-item{
    display: inline-block;
}

.account-options-list{
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.account-options-item-list{

    margin-bottom: 10px;
    background-color: rgb(241, 241, 241);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.account-options-item-list:hover{
    background-color: rgb(255, 246, 205);
}

.button-text{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 10px;
    text-align: left;
    background-color: rgb(250, 250, 250);
    height: 35px;
    border-radius: 5px;
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.button-text:hover{
    background-color: rgb(255, 246, 205);
}
.button-text-create{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color:cadetblue;
    border-radius: 5px;
    height: 40px;
}

.top-bar-link{
    text-decoration: none;
    color: gray;
}

.top-bar-link:hover{
    text-decoration: underline;
}
#underline{
    border-bottom: 1px dotted black;
    width: 80%;
    margin-left: 1em;
}