.myForm{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    top: 0em;
    position: relative;
    text-align: left;
}

.footer-register{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    text-align: center;
}

.already-registered{
    margin-top: 30px;
}

#register-logo{
    margin-top: 40px;
    margin-bottom: 40px;
}

#register-submit-btn{
    margin-top: 1em;
    background-color: #00A399;
    border: none;
}