.home-page{
  text-align: center;
}


.nav-bar-color{
  background-color: rgb(219, 183, 115);
}

.row{
  width: 150px;
  margin-left: auto !important;
  margin-right: auto !important;

  padding-top: 10px;
}

.social-icon{
  margin-left: 3em;
}