.greetings-label{
    font-size: 15px !important;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #00A399 !important;
    border: none !important;
}
.greetings-label:hover{
    background-color: rgb(43, 43, 43) !important;
    border: none !important;
}
#dropdown-split-basic{
    border: none;
    background-color: #00A399 !important;
}
#username-color{
    color: rgb(255, 157, 28);
}

