.custom-helpnav-bar{
    font-family: 'Source Sans Pro', sans-serif !important;
}

#filter{
    background-color: white;
    margin-left: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgb(226, 226, 226);
    height: 2.5em;
    width: 7em;
    border-radius: 5px;
}
#filter:hover{
    background-color: #00A399;
    color: white;
}

#drop-item{
    margin-left: 6em;
}
#dropdown-order{
    color: black;
    background-color: white !important;
    margin-left: 6em;
    margin-right: 4em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border: 1px solid rgb(226, 226, 226);
    height: 2.5em;
    width: 10em;
    border-radius: 5px;
}
#dropdown-order:focus{
    border: none;
    background-color: rgb(238, 238, 238);
}
#dropdown-order:hover{
    border: none;
    background-color: rgb(238, 238, 238);
}
