.nav-bar-text{
    color: rgb(255, 255, 255) !important
}

#search-form{
    padding-left: 30px;
    width: 600px
}

#search-button{
    background-color: rgb(255, 177, 75);
}

.nav-login{
    color: rgb(177, 138, 88) !important;
    background-color: rgb(43, 43, 43) !important;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px !important;
}

#nav-down{
    height: 35px;
    background-color: #232F3E;
}

#linkings{
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-weight: bold;
}