.myForm{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    top: 2em;
    position: relative;
    text-align: left;
}

.footer-login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    text-align: center;
}

.no-account{
    margin-top: 30px;
}

#login-submit-btn{
    background-color: #00A399;
    border: none;
}
#login-logo{
    margin-top: 40px;
    margin-bottom: 40px;
}